/* reset css */
* {
	padding: 0;
	margin: 0;
}

/* Netflix colour pallete */
:root {
	--text: #e6e6e6;
	--background: #141414;
	--primary: #000000;
	--primary-opacity: rgba(0, 0, 0, 0.7);
	--secondary: #ffffff;
	--accent: #b9090c;
	--secondary-hover: #888888;
	--unselected: #acacac;
}
/* --------------------- Body css --------------------- */
body {
	color: var(--text);
	background-color: var(--background);
}
/* Scrollbar */
body::-webkit-scrollbar {
	width: 0.4em;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border: 1px solid var(--primary);
	border-radius: 5px;
}
/* --------------------- Navbar css --------------------- */
/* navbar */
.navbar {
	background-color: var(--primary) !important;
}

.navbar a {
	color: var(--unselected) !important;
	cursor: pointer;
	user-select: none;
}
.navbar .active {
	color: var(--secondary) !important;
}

.navbar a:hover {
	color: var(--secondary-hover) !important;
}
/* Override Bootstrap dropdown styles */
.dropdown-menu {
	margin-top: 20px !important;
	color: var(--text) !important;
	background-color: var(--primary-opacity) !important;
	border-color: var(--primary) !important;
}

.dropdown-menu li a {
	color: var(--text) !important;
}

.dropdown-menu li a:hover {
	background-color: var(--background) !important;
}

/* Adjust active link color */
.dropdown-menu li a.active,
.dropdown-menu li a:focus {
	background-color: var(--background) !important;
}

/* navbar brand image */
.navbar-brand {
	width: 150px;
	height: auto;
	margin: 0 10px;
	padding: 10px 0;
	user-select: none;
}

/* dropdown for account */
.dropdown-toggle img {
	width: 50px;
}
/* --------------------- Main page css --------------------- */

/* hero */
.btn-play {
	color: var(--primary) !important;
	background-color: var(--secondary) !important;
}
.btn-more-info {
	color: var(--secondary) !important;
	background-color: var(--secondary-hover) !important;
}
.btn-play svg,
.btn-more-info svg {
	margin-bottom: 5px;
}
.btn-volume {
	border: 2px solid var(--secondary);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding: 10px;
	transition: 0.2s ease;
}
.btn-volume svg path {
	fill: var(--secondary);
}

.btn-volume:hover {
	border: 2px solid var(--secondary);
	background-color: var(--secondary-hover);
}

.main-display {
	display: flex;
	flex-direction: column;
	gap: 60px;
	margin-left: 70px;
	margin-right: 20px;
	margin-top: 30px;
}

.scrollable-div {
	border: 1px solid white;
	display: flex;
	overflow-x: scroll;
	position: relative;
	scroll-behavior: smooth;
	border-radius: 20px;
	padding: 20px;
}

.scrollable-div::-webkit-scrollbar {
	display: none;
}

.scrollable-div .popular-container img {
	flex: 0 0 auto;
	width: 150px;
	height: 100px;
	margin-right: 10px;
	border-radius: 5px;
}

.scroll-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	cursor: pointer;
	background-color: transparent;
	color: #fff;
	border: none;
}

#scrollLeft {
	left: 10px;
}

#scrollRight {
	right: 10px;
}

/* --------------------- Films css --------------------- */
/* --------------------- Series css --------------------- */
/* --------------------- My list css --------------------- */
