/* reset css */
* {
	padding: 0;
	margin: 0;
}

/* Netflix colour pallete */
:root {
	--text: #e6e6e6;
	--background: #141414;
	--primary: #000000;
	--primary-hover: rgba(0, 0, 0, 0.7);
	--secondary: #ffffff;
	--accent: #b9090c;
	--secondary-hover: #888888;
	--unselected: #acacac;
}
/* --------------------- Body css --------------------- */
body {
	color: var(--text);
	background-color: var(--background);
}
/* Scrollbar */
body::-webkit-scrollbar {
	width: 0.4em;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	border: 1px solid var(--primary);
	border-radius: 5px;
}
/* --------------------- Navbar css --------------------- */
/* navbar */
.navbar {
	background-color: var(--primary) !important;
}

.navbar a {
	color: var(--unselected) !important;
	cursor: pointer;
	user-select: none;
}
.navbar .active {
	color: var(--secondary) !important;
}

.navbar a:hover {
	color: var(--secondary-hover) !important;
}
/* Override Bootstrap dropdown styles */
.dropdown-menu {
	margin-top: 10px !important;
	color: var(--text) !important;
	background-color: var(--primary-hover) !important;
	border-color: var(--primary) !important;
}

.dropdown-menu li a {
	color: var(--text) !important;
}

.dropdown-menu li a:hover {
	background-color: var(--background) !important;
}

/* Adjust active link color */
.dropdown-menu li a.active,
.dropdown-menu li a:focus {
	background-color: var(--background) !important;
}

/* navbar brand image */
.navbar-brand {
	width: 150px;
	height: auto;
	margin: 0 10px;
	padding: 10px 0;
	user-select: none;
}

/* dropdown for account */
.dropdown-toggle img {
	width: 50px;
}
/* --------------------- Main page css --------------------- */

/* hero */
.btn-play {
	color: var(--primary) !important;
	background-color: var(--secondary) !important;
}
.btn-more-info {
	color: var(--secondary) !important;
	background-color: var(--secondary-hover) !important;
}
.btn-play svg,
.btn-more-info svg {
	margin-bottom: 5px;
}
.btn-volume {
	border: 2px solid var(--secondary);
	border-radius: 50%;
	background-color: transparent;
	width: 70px;
	height: 70px;
	transition: 0.2s ease;
}

.btn-volume svg path {
	fill: var(--secondary);
}

.btn-volume:hover {
	border: 2px solid var(--secondary);
	background-color: var(--secondary-hover);
}
br {
	user-select: none;
}

.hero-video-container {
	position: absolute;
	top: 82px;
	width: 100%;
	height: 55vh;
}
.hero-video-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero-video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	overflow: hidden;
}

.content-container {
	position: relative;
	z-index: 1;
}
/* main display */

.main-display {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 70px;
}
.popular {
	position: relative;
}

.scroll-container {
	position: relative;
	display: flex;
	align-items: center;
}

.scrollable-div {
	display: flex;
	overflow-x: scroll;
	position: relative;
	scroll-behavior: smooth;
	border-radius: 20px;
	padding: 10px;
	flex-grow: 1;
}

.scrollable-div::-webkit-scrollbar {
	display: none;
}

.box-container img {
	flex: 0 0 auto;
	width: 200px;
	height: 125px;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.box-container {
	text-align: center;
	margin: 10px 9.5px;
}
.box-container span {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.box-container:first-child {
	margin-left: 10px;
}
.box-container:nth-last-child() {
	margin-right: 10px;
}

.films {
	margin-bottom: 20px;
}

.scroll-button {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	background-color: transparent;
	color: #fff;
	border: none;
	z-index: 1;
	width: 50px;
	fill: white;
	height: 90%;
	opacity: 0;
}

.scroll-button svg {
	width: 100%;
	height: 100%;
}

.scroll-button:hover {
	opacity: 1;
	pointer-events: auto;
}

.scrollLeft {
	left: 0;
}

.scrollRight {
	right: 0;
}
/* search */
.search-btn {
	border-color: var(--accent);
	color: var(--secondary);
}
.search-btn:hover {
	background-color: var(--accent);
	color: var(--primary);
}
.search-btn:focus {
	outline: var(--accent);
}
.search-bar {
	border-color: var(--accent);
}
.search-bar:focus {
	box-shadow: none !important;
	border-color: var(--accent);
}
/* --------------------- Films css --------------------- */
.films-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	gap: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 70px;
}
/* --------------------- Series css --------------------- */
.series-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	gap: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 70px;
}
/* --------------------- My list css --------------------- */
